export(galaxy, functionToGalaxify, anotherTestFunction, GalaxyParam,
    GalaxyConfig, GalaxyOutput, getFriendlyName, GalaxyInputFile,
    testFunctionWithSelect)
exportClass(GalaxyParam, GalaxyConfig, GalaxyOutput, GalaxyInputFile)
import(BiocGenerics)
importFrom(Biobase, copySubstitute)
importFrom(roxygen2, roxygenize, rd_roclet)
##exportMethods(format)
